<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--crud 순서로 작성한다. 무엇이든지. 어디서든지-->
<mapper namespace="com.koreait.first.board.BoardMapper">
    <insert id="insBoard">
        INSERT INTO t_board
        (title, ctnt, iuser)
        VALUES
        (#{title}, #{ctnt}, #{iuser})
    </insert>

    <select id="selBoardList" resultType="com.koreait.first.board.BoardDomain">
        SELECT B.iboard, B.title, B.iuser, B.regdt, U.unm AS writeNm, U.profileImg
        FROM t_board B
        INNER JOIN t_user U
        ON B.iuser = U.iuser
        ORDER BY B.iboard DESC
    </select>

    <!--select 안에 Vo 멤버필드와 이름이 같아야 한다 그래야지 값을 가져와서 넣어준다 다르다면 alias를 써야한다 -->

    <select id="selBoard" resultType="com.koreait.first.board.BoardDomain">
        SELECT B.iboard, B.title, B.ctnt , B.iuser, B.regdt, U.unm AS writeNm, U.profileImg
        FROM t_board B
        INNER JOIN t_user U
        ON B.iuser = U.iuser
        WHERE B.iboard = #{iboard}
    </select>
</mapper>
