<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.first.board.BoardCmtMapper">
   <insert id="insBoardCmt">
        INSERT INTO t_board_cmt
        (iboard, iuser, cmt)
        VALUES
        (#{iboard}, #{iuser}, #{cmt})
   </insert>

    <!--interface에 List<>적어놓으면 알아서 while문 적고 없으면 if문 적는다
    resultType은 select되는 하나하나의 어느 객체에 들어가냐 이것이다.
    -->

    <select id="selBoardCmtList" resultType="BoardCmtDomain">
        SELECT C.icmt, C.iuser, C.cmt, C.regdate, U.unm AS writeNm, U.profileImg
        FROM t_board_cmt C
        LEFT JOIN t_user U
        ON C.iuser = U.iuser
        WHERE C.iboard = #{iboard}
        ORDER BY C.icmt DESC;
    </select>
</mapper>
